<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="stylesheet" href="{{ "/assets/normalize.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    {% include google-analytics.html %}
  </head>

  <body>

    <header role="banner">
      <div class="avatar">
        <img alt="Seán Stickle" title="Seán Stickle" src="https://en.gravatar.com/userimage/519430/cdc835195f7eae1a6afdee821981b70a.jpeg" class="avatar avatar-100 photo" height="100" width="100">
      </div>
      <div id="brand">
        <h1 class="site-title">
          <a href="/" title="{{ site.title }}" rel="home">{{ site.title }}</a>
        </h1>
      </div>
      <!---
      <nav role="navigation">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Archives</a></li>
      </nav>
      <div class="clear"></div>
      -->
    </header>

